/* logIn */
.logIn {
    height: 982px;
}


/* start logIn right side */
.logIn__rightSide {
    background: linear-gradient(180deg, rgba(6, 29, 49, 0.4) 0%, #0f0d09 95%), url(/assets/images/logIn/logIn.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.logIn__rightSide__box {
    gap: 88px;
    margin: 718px 160px 44px 120px;
}

.logIn__rightSide__text {
    gap: 20px;
}

.logIn__rightSide__text p:nth-child(1) {
    color: white;
    font-family: "Playfair";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 94.444% */
    letter-spacing: -0.72px;
    margin: 0;
}

.logIn__rightSide__text p:nth-child(2) {
    color: var(--Neutral-200, #C8C9C9);
    /* Paragraph/02/Regular */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    margin: 0;
}

.logIn__rightSide__pagination {
    gap: 4.5px;
}

.logIn__rightSide__pagination span:nth-child(1) {
    width: 25.452px;
    height: 6px;
    border-radius: 84px;
    background: var(--Neutral-00, #FFF);
}

.logIn__rightSide__pagination span:nth-child(2),
.logIn__rightSide__pagination span:nth-child(3) {
    width: 6.25px;
    height: 6px;
    border-radius: 84px;
    opacity: 0.3;
    background: var(--Neutral-00, #FFF);
}

.logIn__leftSide__header p {
    color: var(--Neutral-900, #090A0A);
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 106.25% */
    letter-spacing: -0.64px;
}

.logIn__leftSide__form {
    gap: 44px;
    margin: auto;
    width: 60% ;
}

.logIn__leftSide__form__upper {
    gap: 32px;
}

.backToLoginButton {
    color: var(--Neutral-900, #090A0A);

    /* Paragraph/02/SemiBold */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
    text-decoration: none;
}


.logIn__leftSide__form__welcome p:nth-child(1) {
    color: var(--Neutral-900, #090A0A);
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 106.25% */
    letter-spacing: -0.64px;
}

.logIn__leftSide__form__welcome p:nth-child(2) {
    color: var(--Neutral-725, #424242);

    /* Paragraph/02/Regular */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.logIn__leftSide__form__data {
    gap: 16px;
}

.logIn__leftSide__form__data__block {
    gap: 12px;
}

.logIn__leftSide__form__data__block p {
    color: var(--Neutral-900, #090A0A);
    font-family: Inter Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
    letter-spacing: -0.32px;
}

.logIn__leftSide__form__data__block__input {
    display: flex;
    height: 56px;
    padding: 16px 12px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: 1px solid var(--Neutral-100, #E1E3E3);
    background: var(--Neutral-00, #FFF);
}

.logIn__leftSide__form__data__block__input__line {
    width: 2px !important;
    height: 100% !important;
    background-color: black;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.logIn__leftSide__form__data__block__input input {
    flex: 1 0 0;
}

.logIn__leftSide__form__button {
    text-decoration: none;
    display: flex;
    height: 56px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    background: var(--Primary-04, #003A61);
}

.logIn__leftSide__form__button p {
    color: var(--Neutral-00, #FFF);
    text-align: center;

    /* Heading/H6-Small/Bold */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 24px */
    letter-spacing: -0.32px;
}




.logIn__leftSide__form__createAccount p:nth-child(1) {
    color: var(--Neutral-625, #555656);
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

input {
    border: none;
    outline: none;
}

.logIn__leftSide__form__welcome p {
    width: 100%;
}


@media (max-width:991px) {
    .logIn {
        height: 100%;
    }

    .logIn__rightSide {
        display: none !important;
    }

    .logIn__leftSide__form {
        width: 85%;
    }

    input {
        width: 100%;
    }
}

@media (max-width:771px) {
    .logIn {
        display: block !important;
    }
}