:root {
    --color-primary: rgba(0, 58, 97, 1);
}
/* start project */

body {
    font-family: 'Playfair Display', serif;
}


/* header */
.hero {
    background-image: linear-gradient(rgba(2, 18, 32, .7), rgba(0, 0, 0, .9)), url("../images/home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 110vh;
}

.home {
    margin-top: 143px;
    gap: 40px;
}

.home__upper {
    gap: 44px;
    margin-top: 143px;
}

.homeContent {
    color: white;
    gap: 8px;
}

.homeContent p:nth-child(1) {
    color: var(--Neutral-100, #E1E3E3);
    /* Subheading/Regular */
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    /* 30px */
}

.homeContent p:nth-child(2) {
    width: 671px;
    color: var(--Neutral-00, #FFF);
    text-align: center;
    /* Display/02/ExtraBold */
    font-family: "Playfair Display";
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    /* 90px */
    letter-spacing: -2.4px;
    margin: 0;
}

.homeContent p:last-of-type {
    color: var(--Neutral-200, #C8C9C9);
    text-align: center;
    /* Paragraph/02/Regular */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    align-self: stretch;
    opacity: 0.9;
    width: 671px;
    margin: 0;
}

.homeButtons a {
    display: flex;
    width: 222px;
    height: 56px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.homeButtons a:nth-child(1) {
    background-color: rgba(0, 58, 97, 1);
    color: white;
}

.homeButtons a:nth-child(1):hover {
    color: white;
}

.homeButtons a:nth-child(2) {
    background-color: rgba(245, 228, 208, 1);
    color: black;
}

@media (max-width:991px) {
    .home {
        margin-top: 50px !important;
        gap: 80px;
    }

    .hero {
        height: 75vh !important;
    }

    .homeContent p:nth-child(2) {
        width: 671px;
        color: var(--Neutral-00, #FFF);
        text-align: center;
        /* Display/02/ExtraBold */
        font-family: Playfair Display;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        /* 90px */
        letter-spacing: -2.4px;
        margin: 0;
    }


    .homeButtons {
        flex-direction: column;
    }
    .homeButtons a {
        width: 100% !important;
    }

    .homeContent {
        gap: 25px;
    }

    .homeContent p {
        width: 80% !important;
        text-align: center !important;
        margin: auto !important;
        /* margin-block: 5px !important; */
    }

    .home__upper {
        gap: 50px;
        margin-top: 180px;
    }

}

@media (max-width:768px) {
    .home {
        margin-top: 114px !important;
        gap: 40px;
    }

    .home__upper {
        gap: 20px;
        margin-top: 50px;
    }

    .homeContent p:nth-child(2) {
        font-size: 30px;
    }

    .homeContent p:nth-last-of-type() {
        font-size: 14px;
    }
}

@media (max-width:374px) {
    .hero {
        height: 90vh !important;
    }
    .home {
        gap: 50px;
    }
    .homeContent {
        gap: 15px;
    }

    .homeButtons {
        gap: 15px !important;
    }

    .home__upper {
        gap: 50px;
        margin-top: 80px
    }
}

@media (max-width:320px) {
    .home__upper {
        margin-top: 15px;
        gap: 10px;
    }
    .home {
        gap: 15px;
    }

    .homeContent {
        gap: 10px;
    }
}


/* scroll down arrows */
.scrollDown {
    cursor: pointer;
}


.scrollDown__first {
    /* top: 0; */
    animation: animate 1.5s linear infinite;
    color: white;
}

.scrollDown__second {
    animation: animate 1.5s linear infinite;
    animation-delay: 1s;
    color: white;
}

@keyframes animate {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
        visibility: hidden;
    }
}


/* discover Hall */

.discoverHall {
    padding: 72px 44px 104px 44px;
}



.discoverHall__container {
    gap: 72px;
}

.discoverHall__first__text p:nth-child(1) {
    color: var(--Neutral-625, #555656);
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    align-self: stretch;
    margin: 0;
}

.discoverHall__first__text p:nth-child(2) {
    color: var(--Neutral-900, #090A0A);
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
    align-self: stretch;
    margin: 0;
}

.discoverHall__first__button a {
    border: 1px solid rgba(225, 227, 227, 1);
    outline: none;
    background-color: white;
    padding: 16px 24px;
    font-weight: 600;
    font-size: 16px;
    font-family: "Inter";
    height: 48px;
    text-decoration: none;
    color: var(--Neutral-725, #424242);
    letter-spacing: -0.32px;
}

.bookButton {
    padding: 10px 50px;
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    outline: none;
    border: none;
}


.discoverHall__second {
    margin: 0;
    gap: 20px;
}

.discoverHall__second__card {
    width: 23.5%;
}
.discoverHall__second__card img {
    border-radius: 10px 10px 0px 0px;
}

@media (max-width:1325px) {
    .discoverHall__second__card {
        width: 32% !important;
    }
}

@media (max-width:1100px) {
    .discoverHall__second__card {
        width: 48% !important;
        gap: 10px !important;
    }
}

@media (max-width:786px) {
    .discoverHall__second__card {
        width: 100% !important;
    }
    

    .discoverHall__first {
        flex-direction: column;
        gap: 25px;
        align-items: flex-start !important;
    }
}

.discoverHall__second__card__second {
    gap: 16px;
    padding: 8px 10px 10px 10px;
    background: var(--Neutral-00, #FFF);
    box-shadow: 5px 5px 10px rgb(177, 175, 175);
    border-radius: 0px 0px 10px 10px;
}


.discoverHall__second__card__second p:nth-child(1) {
    color: #000;
    /* Heading/H6/Bold */
    font-family: Inter Display;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.38px;
    margin: 0;
}

.discoverHall__second__card__second p:nth-child(2) {
    color: var(--Neutral-725, #424242);
    /* Paragraph/01/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


.discoverHall__second__card__second__second div:nth-child(1) p:nth-child(1) {
    color: var(--Neutral-725, #424242);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.discoverHall__second__card__second__second div:nth-child(1) p:nth-child(2) {
    color: var(--Harvest-Gold-275, #CCAB6E);
    /* Paragraph/02/SemiBold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.discoverHall__second__card__second__second a {
    display: flex;
    width: 170px;
    height: 48px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--Primary-04, #003A61);
    color: white;
    font-family: "Inter";
    font-size: 16px;
    text-decoration: none;
}

.addWishList {
    cursor: pointer;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 11px;
    top: 12px;
    border-radius: 38px;
    background: rgba(9, 10, 10, 0.50);
}

@media (max-width:375px) {
    .discoverHall__second__card__second__second a{
        width: 110px !important;
    }
}

/* invitaion Cards */
.invitaionCards__container {}

.invitaionCards {
    background-color: #F6F6F6;
    padding: 72px 44px 88px 44px;
    ;
}

.invitaionCards__title__text p:nth-child(1) {
    color: rgba(85, 86, 86, 1);
    margin: 0;
}

.invitaionCards__title__text p:nth-child(2) {
    font-family: "Playfair";
    color: rgba(9, 10, 10, 1);
    font-weight: 700;
    line-height: 42px;
    font-size: 32px;
    margin: 0;
}

.invitaionCards__title__button a {
    border: 1px solid rgba(225, 227, 227, 1);
    outline: none;
    background-color: white;
    padding: 16px 24px;
    font-weight: 600;
    font-size: 16px;
    font-family: "Inter";
    height: 48px;
    text-decoration: none;
    color: var(--Neutral-725, #424242);
    letter-spacing: -0.32px;
}

.invitaionCards__container__card {
    background-color: white !important;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(208, 205, 205);
}

.invitaionCards__container__card img {
    border-radius: 10px;
}

/* gold card */
.goldCard {
    background-color: rgba(235, 193, 90, 0.12);
    width: 40%;
    margin-left: 10px;
    padding: 3px 6px !important;
}

.goldCard__image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 19px;
    box-shadow: 0px 3.8px 5.7px 0px rgba(234, 176, 32, 0.4);
    overflow: hidden;
    max-width: 100%;
}


.goldCard__title {
    color: #e7b846;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    align-self: start;
    /* flex-grow: 1; */
    white-space: nowrap;
    font: 600 12px/150% Inter, sans-serif;
    margin-top: 5px;
}

.invitaionCards__container__card__cardDetails p:nth-child(1) {
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 28.5px */
    letter-spacing: -0.38px;
}

.invitaionCards__container__card__cardDetails p:nth-child(2) {
    color: var(--Primary-03, #e6c280);
    letter-spacing: -0.38px;
    /* max-width: 100px; */
    font: 600 19px/150% Inter Display, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.invitaionCards__container__card__purchaseButton button {
    border: none;
    outline: none;
    background-color: var(--color-primary);
    color: white;
    padding: 16px 24px;
}

@media (max-width:1200px) {
    .customizeYourEvent {
        flex-direction: column;
    }
    .customizeYourEvent__left {
        width: 100%;
    }
}

@media (max-width:768px) {
    .howItWorks__downPart {
        flex-direction: column;
    }

    .howItWorks__downPart__card {
        width: 100% !important;
    }

    .invitaionCards__title {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 25px;
        text-align: left;
    }
}



/* premium invitation card */


.premiumCard {
    background-color: rgba(182, 162, 146, 0.12);
    width: 40%;
    margin-left: 10px;
    padding: 3px 6px !important;
}

.premiumCard__image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 19px;
    box-shadow: 0px 3.9px 5.85px 0px rgba(194, 175, 155, 0.4);
    overflow: hidden;
    max-width: 100%;
}

.premiumCard__title {
    color: #a98e83;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    align-self: start;
    margin-top: 5px;
    white-space: nowrap;
    font: 600 12px/150% Inter, sans-serif;
}


/* silver Card */

.silverCard {
    background-color: rgba(116, 119, 133, 0.12);
    width: 40%;
    margin-left: 10px;
    padding: 3px 6px !important;
}

.silverCard__image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 19px;
    box-shadow: 0px 3.8px 5.7px 0px rgba(122, 122, 161, 0.4);
    overflow: hidden;
    max-width: 100%;
}

.silverCard__title {
    color: #7e7e8a;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    align-self: start;
    /* flex-grow: 1; */
    white-space: nowrap;
    font: 600 12px/150% Inter, sans-serif;
    margin-top: 5px;
}


/* free card */
.freeCard {
    background-color: rgba(49, 149, 141, 0.12);
    width: 40%;
    margin-left: 10px;
    padding: 3px 6px !important;
}

.freeCard__image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 19px;
    box-shadow: 0px 3.8px 5.7px 0px rgba(122, 122, 161, 0.4);
    overflow: hidden;
    max-width: 100%;
}

.freeCard__title {
    color: #348a85;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    align-self: start;
    /* flex-grow: 1; */
    white-space: nowrap;
    font: 600 12px/150% Inter, sans-serif;
    margin-top: 5px;
}

.invitaionCards__container__card__purchaseButton button {
    padding: 16px 24px;
}

@media (max-width:375px) {
    .invitaionCards__container__card__cardDetails p:nth-child(1) {
        font-size: 14px;
    }
}


/* customizeYourEvent */

.customizeYourEvent {
    padding: 120px 44px 168px 44px !important;
}

.customizeYourEvent__left {
    gap: 8px;
    width: calc((100% / 3));
}

.customizeYourEvent__left p:nth-child(1) {
    color: var(--Neutral-625, #555656);
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.customizeYourEvent p:nth-child(2) {
    color: var(--Neutral-900, #090A0A);
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
}

.customizeYourEvent p:nth-child(3) {
    color: var(--Neutral-800, #2E2E2E);
    /* Paragraph/03/Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
    align-self: stretch;
}

.customizeYourEvent__right {
    gap: 20px;
    width: 702px;
}

.customizeYourEvent__right div:nth-child(1) {
    position: relative;
}

.customYourEvent__special {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 5%;
    left: 5%;
    bottom: 5%;
}

.customYourEvent__special p {
    margin-bottom: 0;
    color: var(--Neutral-00, #FFF);
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 28.5px */
    letter-spacing: -0.38px;
}

.customizeYourEvent__right img {
    filter: brightness(.5);
    height: 184px;
    border-radius: 10px;
}

.customYourEvent__special button {
    border: 1px solid var(--Neutral-100, #E1E3E3);
    outline: none;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
}

/* how it works */

.howItWorks {
    padding: 72px 44px 104px 44px;
    gap: 72px;
    background-color: var(--color-primary);
}

.howItWorks__upperPart p:nth-child(1) {
    color: var(--Primary-03, #E6C280);
    text-align: center;
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.howItWorks p:nth-child(2) {
    color: var(--Neutral-00, #FFF);
    text-align: center;
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
}

.howItWorks__downPart__card div:nth-child(1) {
    border-radius: 50%;
    background: var(--Neutral-100, #E1E3E3);
    width: 60px;
    height: 60px;
    text-align: center;
}

.howItWorks__downPart__card div:nth-child(1) svg {
    margin-top: 25%;
}

.howItWorks__downPart {
    gap: 20px;
}

.howItWorks__downPart__card {
    background-color: white;
    gap: 24px;
    padding: 20px 20px 24px 20px;
    width: calc((100% / 4));
}

@media (max-width:1024) {
    .howItWorks__downPart__card {
        width: calc(100% / 2) !important;
    }
}

.howItWorks__downPart__card div:nth-child(2) {
    max-height: 57px;
    overflow: hidden;
}

.howItWorks__downPart__card p {
    color: var(--Neutral-800, #2E2E2E);
    font-family: Inter Display;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 28.5px */
    letter-spacing: -0.38px;
    margin-bottom: 0;
}


/* frequentlyAsked */
.frequentlyAsked {
    padding-block: 72px 88px;
    gap: 72px;
}


.frequentlyAsked__upperPart p:nth-child(1) {
    color: var(--Neutral-625, #555656);
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.frequentlyAsked__upperPart p:nth-child(2) {
    color: var(--Neutral-900, #090A0A);
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
}

.frequentlyAsked__downPart {
    gap: 20px;
}



.frequentlyAsked__downPart__image {
    height: max-content;
}

.frequentlyAsked__downPart__image img {
    width: 702px !important;
    border-radius: 10px;
}

/* accordion */

.accordion__closed {
    display: none;
}

.accordion__card {
    padding: 16px;
    border: 1px solid var(--Neutral-100, #E1E3E3);
    background: var(--Neutral-00, #FFF);
}


.frequentlyAsked__downPart__accordion {
    gap: 10px !important;
}

.accordion__card__head {
    color: var(--Neutral-900, #090A0A);
    /* Heading/H5-Small/Bold */
    font-family: Inter Display;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 28.5px */
    letter-spacing: -0.38px;
}

.accordion__text {
    color: var(--Neutral-625, #555656);
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

@media (max-width:1024px) {
    .frequentlyAsked__downPart {
        flex-direction: column;
    }
}


@media (max-width:768px) {
    .frequentlyAsked__downPart {
        flex-direction: column !important;
        align-items: center !important;
    }

    .frequentlyAsked__downPart__image {
        width: 100% !important;
    }

    .frequentlyAsked__downPart__image img {
        width: 100% !important;
    }


    .customizeYourEvent__right__down {
        width: 100% !important;
    }

    .customizeYourEvent__right__upper {
        width: 100% !important;
    }

    .customizeYourEvent {
        align-items: flex-start !important;
    }

    .customizeYourEvent__right {
        align-items: flex-start !important;
        width: auto !important;
    }

    .customizeYourEvent__left p:nth-child(3) {
        width: 260px !important;
        align-items: flex-start !important;
    }
}

@media (max-width:768px) {
    .customizeYourEvent__right__down {
        flex-direction: column;
    }
}

/* start unleash */
.unleash {
    padding-block: 102px 198px;
}


.unleash__container {
    padding-block: 72px 88px;
    gap: 44px;
}

.unleash__container {
    background: linear-gradient(87deg, #F5E4D0 17.17%, #F5E4D0 51.3%, rgba(8, 7, 6, 0.00) 126.05%), url(/assets/images/home/unleash.png);
    background-repeat: no-repeat !important;
    background-size: cover;
    border-radius: 10px;
}

.unleash p:nth-child(1) {
    color: var(--Neutral-900, #090A0A);
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
}

.unleash p:nth-child(2) {
    color: var(--Neutral-900, #090A0A);
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    opacity: 0.8;
    max-width: 50%;
}

.unleash__container a {
    display: flex;
    height: 56px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: var(--Primary-04, #003A61);
    text-decoration: none;
}

.unleash__container a p:nth-child(1) {
    color: var(--Neutral-00, #FFF);
    text-align: center;
    /* Heading/H6-Small/Bold */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 24px */
    letter-spacing: -0.32px;
}

@media (max-width:767px) {
    .unleash p:nth-child(1),
    .unleash p:nth-child(2) {
        max-width: 100%;
    }

    .unleash  {
        padding: 20px !important;
    }

    .unleash__container {
        padding: 15px !important;
    }
}





