:root {
    --color-primary: rgba(0, 58, 97, 1);
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: #fff;
    transition: all 0.6s ease-out;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #fff;
    border-color: var(--color-primary) transparent var(--color-primary) transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* end Preloader */



/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: white;
    line-height: 0;
}


.scroll-top.active {
    visibility: visible;
    opacity: 1;
}

/* start project */

body {
    font-family: 'Playfair Display', serif;
}


/* start navbar */


.ezwaty {
    background-color: var(--color-primary);
}

.navbar {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #003A61;
    max-height: 114px;
    z-index: 200;
    padding: 44px 44px 22px 44px;
    gap: 207px;
}

.navbar a {
    color: white;
}

.navbar-brand {
    color: var(--Neutral-00, #FFF);
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 106.25% */
    letter-spacing: -0.64px;

}

.navbar-brand:hover {
    color: white;
}

.navbar-brand a {
    padding: 0 !important;
}

/* search part */


.searchBlock {
    border: 1px solid var(--Navy-Blue-625, #005B94);
    background: var(--Navy-Blue-725, #004674);
    width: 582px !important;
    height: 48px;
    padding: 16px 12px;
    gap: 10px !important;
}

.searchBlock input {
    padding: 0;
    margin: 0;
    background-color: transparent;
    outline: none;
    border: none;
    flex: 1 0 0;
    align-self: stretch;
    color: white;
}

.navbarFilter {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.search input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--Neutral-00, #FFF);
    /* Paragraph/01/Regular */
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.searchIcon {
    opacity: 80%;
    width: 24px;
    height: 24px;
}

.search img {
    width: 24px;
    height: 24px;
}

/* user part */

.user {
    gap: 24px;
}

.userLanguage {
    padding: 12px 16px;
    border: 1px solid rgba(0, 70, 116, 1);
    height: 44px;
    padding: 16px 12px;
    gap: 10px;
}

.userLanguage img {
    width: 28px;
    height: 28px;
}

.userLanguage__selection {
    gap: 5px;
}

.userLanguage__selection__language {
    color: var(--Neutral-00, #FFF);
    /* Paragraph/02/Regular */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    margin-bottom: 0;
}

#language {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: 'Inter', sans-serif;
}

.userSystem {
    color: white;
    gap: 16px;
}

.line {
    background: #005B94;
    width: 1px;
    height: 16px;
}

.userSystem div .userSystemICon {
    padding: 0px 15px;
}

.userSystemICon {
    cursor: pointer;
}

.userSystem div svg:nth-child(1):hover {
    cursor: pointer;
}

/* second navbar */

.secondNav {
    position: fixed;
    right: 0;
    left: 0;
    top: 114px;
    z-index: 100;
    padding: 16px 44px !important;
    background: #FFF;
    gap: auto;
}

.secondNav ul {
    gap: 44px;
    flex-shrink: 0;
}

.secondNavList {
    color: white;
    margin-bottom: 0;
    padding: 0;
}

.secondNavList li {
    list-style: none;
    transition: .5s;
    padding: 0px 4px 2px 4px;
}

.secondNavList a {
    list-style: none;
    color: rgba(66, 66, 66, 1);
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.active {
    color: rgba(0, 58, 97, 1);
    border-bottom: 2px solid rgba(0, 58, 97, 1);
}

.secondNavButton {
    color: white;
    background: var(--Primary-04, #003A61);
    padding: 16px 24px;
    width: 221px;
    height: 48px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
}

.secondNavButton:hover {
    cursor: pointer;
}




@media (max-width:1400px) {
    .secondNav ul {
        gap: 30px;
    }
}


@media (max-width:1350px) {
    .navbar {
        gap: 50px;
    }

    .secondNav a {
        font-size: 14px;
    }

    .secondNav ul {
        gap: 15px;
    }
}

@media (max-width:1024px) {
    .navbar {
        gap: 10px !important;
        justify-content: space-between !important;
    }

    .secondNav a {
        font-size: 13px;
    }

    .secondNav ul {
        gap: 5px;
    }

    .searchBlock {
        width: 280px !important;
    }

    .searchBlock input {
        align-self: auto;
    }


    .navbar-brand {
        font-size: 20px;
    }

    .user {
        gap: 10px;
    }

    .frequentlyAsked__downPart {
        flex-direction: column;
    }

    .secondNavButton {
        padding: 8px;
        width: 120px !important;
    }
}

@media (max-width:991px) {
    .navBarThree {
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }

    .home {
        margin-top: 50px !important;
    }

    .navbar:nth-child(1) {
        display: none !important;
    }

    .navbar:nth-child(2) {
        width: 100% !important;
        justify-content: space-between !important;
    }

    .secondNav {
        display: none !important;
    }
}

/* header */
.hero {
    background-image: linear-gradient(rgba(2, 18, 32, .7), rgba(0, 0, 0, .9)), url("../images/home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 110vh;
}

.home {
    margin-top: 143px;
    gap: 40px;
}

.home__upper {
    gap: 44px;
    margin-top: 143px;
}

.homeContent {
    color: white;
    gap: 8px;
}

.homeContent p:nth-child(1) {
    color: var(--Neutral-100, #E1E3E3);
    /* Subheading/Regular */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    /* 30px */
}

.homeContent p:nth-child(2) {
    width: 671px;
    color: var(--Neutral-00, #FFF);
    text-align: center;
    /* Display/02/ExtraBold */
    font-family: Playfair Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    /* 90px */
    letter-spacing: -2.4px;
    margin: 0;
}

.homeContent p:last-of-type {
    color: var(--Neutral-200, #C8C9C9);
    text-align: center;
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    align-self: stretch;
    opacity: 0.9;
    width: 671px;
    margin: 0;
}

.homeButtons button {
    display: flex;
    width: 222px;
    height: 56px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: none;
    outline: none;
}

.homeButtons button:nth-child(1) {
    background-color: rgba(0, 58, 97, 1);
    color: white;
}

.homeButtons button:nth-child(2) {
    background-color: rgba(245, 228, 208, 1);
    color: black;
}

/* navBarThree */

.navBarThree {
    background-color: #003A61;
    padding-block: 10px;
    position: fixed;
}

.navBarThree__header {
    font-family: '';
}

.navBarThree__searchBlock {
    background-color: rgba(0, 91, 148, 1);
    border: 1px solid rgba(0, 91, 148, 1);
    height: 48px !important;
    width: 250px;
    color: white;
    padding-inline: 15px;
}

.navBarThree__searchBlock input {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.navBarThree__searchBlock i {
    font-size: 25px;
}

.navBarThree__header {
    color: white;
}

.navBarThree ul {
    text-decoration: none;
    color: white;
}

.navBarThree ul li a {
    color: white;
}

/* scroll down arrows */
.scrollDown {
    cursor: pointer;
}


.scrollDown__first {
    /* top: 0; */
    animation: animate 1.5s linear infinite;
    z-index: 1;
    color: white;
}

.scrollDown__second {
    animation: animate 1.5s linear infinite;
    animation-delay: 1s;
    z-index: 1;
    color: white;
}

@keyframes animate {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
        visibility: hidden;
    }
}




/* discover Hall */

.discoverHall {
    padding: 72px 44px 104px 44px;
}



.discoverHall__container {
    gap: 72px;
}

.discoverHall__first__text p:nth-child(1) {
    color: var(--Neutral-625, #555656);
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    align-self: stretch;
    margin: 0;
}

.discoverHall__first__text p:nth-child(2) {
    color: var(--Neutral-900, #090A0A);
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
    align-self: stretch;
    margin: 0;
}

.discoverHall__first__button button {
    border: 1px solid rgba(225, 227, 227, 1);
    outline: none;
    background-color: white;
    padding: 16px 24px;
    font-weight: 600;
    font-size: 16px;
    font-family: "Inter";
    height: 48px;
    letter-spacing: -0.32px;
}

.bookButton {
    padding: 10px 50px;
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    outline: none;
    border: none;
}


.discoverHall__second {
    margin: 0;
    gap: 20px;
}

.discoverHall__second__card {
    width: 23.5%;
}

@media (max-width:1325px) {
    .discoverHall__second__card {
        width: 32% !important;
    }
}

@media (max-width:1100px) {
    .discoverHall__second__card {
        width: 48% !important;
        gap: 10px !important;
    }
}

@media (max-width:786px) {
    .discoverHall__second__card {
        width: 100% !important;
    }
}

.discoverHall__second__card__second {
    gap: 16px;
    padding: 8px 10px 10px 10px;
    background: var(--Neutral-00, #FFF);
}


.discoverHall__second__card__second p:nth-child(1) {
    color: #000;
    /* Heading/H6/Bold */
    font-family: Inter Display;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.38px;
    margin: 0;
}

.discoverHall__second__card__second p:nth-child(2) {
    color: var(--Neutral-725, #424242);
    /* Paragraph/01/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


.discoverHall__second__card__second__second div:nth-child(1) p:nth-child(1) {
    color: var(--Neutral-725, #424242);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.discoverHall__second__card__second__second div:nth-child(1) p:nth-child(2) {
    color: var(--Harvest-Gold-275, #CCAB6E);
    /* Paragraph/02/SemiBold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.discoverHall__second__card__second__second div:nth-child(2) {
    display: flex;
    width: 170px;
    height: 48px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--Primary-04, #003A61);
    color: white;
    font-family: Inter Display;
    font-size: 16px;
}


.addWishList {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 11px;
    top: 12px;
    border-radius: 38px;
    background: rgba(9, 10, 10, 0.50);
}

/* invitaion Cards */
.invitaionCards__container {}

.invitaionCards {
    background-color: #F6F6F6;
    padding: 72px 44px 88px 44px;
    ;
}

.invitaionCards__title__text h6 {
    color: rgba(85, 86, 86, 1);
}

.invitaionCards__title__text h3 {
    font-family: "Playfair";
    color: rgba(9, 10, 10, 1);
    font-weight: 700;
    line-height: 42px;
    font-size: 32px;
}

.invitaionCards__title__button button {
    border: 1px solid rgba(225, 227, 227, 1);
    outline: none;
    background-color: white;
    padding: 16px 10px;
    font-weight: 600;
    font-size: 16px;
    font-family: "Inter";
}

.invitaionCards__container__card {
    background-color: white !important;
}

/* gold card */
.goldCard {
    background-color: rgba(235, 193, 90, 0.12);
    width: 40%;
    margin-left: 10px;
    padding: 3px 6px !important;
}

.goldCard__image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 19px;
    box-shadow: 0px 3.8px 5.7px 0px rgba(234, 176, 32, 0.4);
    overflow: hidden;
    max-width: 100%;
}


.goldCard__title {
    color: #e7b846;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    align-self: start;
    /* flex-grow: 1; */
    white-space: nowrap;
    font: 600 12px/150% Inter, sans-serif;
    margin-top: 5px;
}

.invitaionCards__container__card__cardDetails p:nth-child(1) {
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 28.5px */
    letter-spacing: -0.38px;
}

.invitaionCards__container__card__cardDetails p:nth-child(2) {
    color: var(--Primary-03, #e6c280);
    letter-spacing: -0.38px;
    /* max-width: 100px; */
    font: 600 19px/150% Inter Display, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.invitaionCards__container__card__purchaseButton button {
    border: none;
    outline: none;
    background-color: var(--color-primary);
    color: white;
    padding: 16px 24px;
}

@media (max-width:1200px) {
    .customizeYourEvent {
        flex-direction: column;
    }
}

@media (max-width:768px) {
    .howItWorks__downPart {
        flex-direction: column;
    }

    .howItWorks__downPart__card {
        width: 100% !important;
    }
}

/* premium invitation card */


.premiumCard {
    background-color: rgba(182, 162, 146, 0.12);
    width: 40%;
    margin-left: 10px;
    padding: 3px 6px !important;
}

.premiumCard__image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 19px;
    box-shadow: 0px 3.9px 5.85px 0px rgba(194, 175, 155, 0.4);
    overflow: hidden;
    max-width: 100%;
}

.premiumCard__title {
    color: #a98e83;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    align-self: start;
    margin-top: 5px;
    white-space: nowrap;
    font: 600 12px/150% Inter, sans-serif;
}


/* silver Card */

.silverCard {
    background-color: rgba(116, 119, 133, 0.12);
    width: 40%;
    margin-left: 10px;
    padding: 3px 6px !important;
}

.silverCard__image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 19px;
    box-shadow: 0px 3.8px 5.7px 0px rgba(122, 122, 161, 0.4);
    overflow: hidden;
    max-width: 100%;
}

.silverCard__title {
    color: #7e7e8a;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    align-self: start;
    /* flex-grow: 1; */
    white-space: nowrap;
    font: 600 12px/150% Inter, sans-serif;
    margin-top: 5px;
}


/* free card */
.freeCard {
    background-color: rgba(49, 149, 141, 0.12);
    width: 40%;
    margin-left: 10px;
    padding: 3px 6px !important;
}

.freeCard__image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 19px;
    box-shadow: 0px 3.8px 5.7px 0px rgba(122, 122, 161, 0.4);
    overflow: hidden;
    max-width: 100%;
}

.freeCard__title {
    color: #348a85;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    align-self: start;
    /* flex-grow: 1; */
    white-space: nowrap;
    font: 600 12px/150% Inter, sans-serif;
    margin-top: 5px;
}

.invitaionCards__container__card__purchaseButton button {
    padding: 16px 24px;
}


/* customizeYourEvent */

.customizeYourEvent {
    padding: 120px 44px 168px 44px !important;
}

.customizeYourEvent__left {
    gap: 8px;
    width: calc((100% / 3));
}

.customizeYourEvent__left p:nth-child(1) {
    color: var(--Neutral-625, #555656);
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.customizeYourEvent p:nth-child(2) {
    color: var(--Neutral-900, #090A0A);
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
}

.customizeYourEvent p:nth-child(3) {
    color: var(--Neutral-800, #2E2E2E);
    /* Paragraph/03/Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
    align-self: stretch;
}

.customizeYourEvent__right {
    gap: 20px;
    width: 702px;
}

.customizeYourEvent__right div:nth-child(1) {
    position: relative;
}

.customYourEvent__special {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 5%;
    left: 5%;
    bottom: 5%;
}

.customYourEvent__special p {
    margin-bottom: 0;
    color: var(--Neutral-00, #FFF);
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 28.5px */
    letter-spacing: -0.38px;
}

.customizeYourEvent__right img {
    filter: brightness(.5);
    height: 184px;
}

.customYourEvent__special button {
    border: 1px solid var(--Neutral-100, #E1E3E3);
    outline: none;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
}

/* how it works */

.howItWorks {
    padding: 72px 44px 104px 44px;
    gap: 72px;
    background-color: var(--color-primary);
}

.howItWorks__upperPart p:nth-child(1) {
    color: var(--Primary-03, #E6C280);
    text-align: center;
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.howItWorks p:nth-child(2) {
    color: var(--Neutral-00, #FFF);
    text-align: center;
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
}

.howItWorks__downPart__card div:nth-child(1) {
    border-radius: 50%;
    background: var(--Neutral-100, #E1E3E3);
    width: 60px;
    height: 60px;
    text-align: center;
}

.howItWorks__downPart__card div:nth-child(1) svg {
    margin-top: 25%;
}

.howItWorks__downPart {
    gap: 20px;
}

.howItWorks__downPart__card {
    background-color: white;
    gap: 24px;
    padding: 20px 20px 24px 20px;
    width: calc((100% / 4));
}

@media (max-width:1024) {
    .howItWorks__downPart__card {
        width: calc(100% / 2) !important;
    }
}

.howItWorks__downPart__card div:nth-child(2) {
    max-height: 57px;
    overflow: hidden;
}

.howItWorks__downPart__card p {
    color: var(--Neutral-800, #2E2E2E);
    font-family: Inter Display;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 28.5px */
    letter-spacing: -0.38px;
    margin-bottom: 0;
}


/* frequentlyAsked */
.frequentlyAsked {
    padding-block: 72px 88px;
    gap: 72px;
}


.frequentlyAsked__upperPart p:nth-child(1) {
    color: var(--Neutral-625, #555656);
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.frequentlyAsked__upperPart p:nth-child(2) {
    color: var(--Neutral-900, #090A0A);
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
}

.frequentlyAsked__downPart {
    gap: 20px;
}





.frequentlyAsked__downPart__image {
    height: max-content;
}

.frequentlyAsked__downPart__image img {
    width: 702px !important;
}



/* accordion */

.accordion__closed {
    display: none;
}

.accordion__card {
    padding: 16px;
    border: 1px solid var(--Neutral-100, #E1E3E3);
    background: var(--Neutral-00, #FFF);
}


.frequentlyAsked__downPart__accordion {
    gap: 10px !important;
}

.accordion__card__head {
    color: var(--Neutral-900, #090A0A);
    /* Heading/H5-Small/Bold */
    font-family: Inter Display;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 28.5px */
    letter-spacing: -0.38px;
}

.accordion__text {
    color: var(--Neutral-625, #555656);
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}






@media (max-width:768px) {
    .frequentlyAsked__downPart {
        flex-direction: column !important;
        align-items: center !important;
    }

    .frequentlyAsked__downPart__image {
        width: 100% !important;
    }

    .frequentlyAsked__downPart__image img {
        width: 100% !important;
    }


    .customizeYourEvent__right__down {
        width: 100% !important;
    }

    .customizeYourEvent__right__upper {
        width: 100% !important;
    }

    .customizeYourEvent {
        align-items: flex-start !important;
    }

    .customizeYourEvent__right {
        align-items: flex-start !important;
        width: auto !important;
    }

    .customizeYourEvent__left p:nth-child(3) {
        width: 300px !important;
        align-items: flex-start !important;
    }

    .homeContent {
        width: 100% !important;
    }

    .homeContent p {
        width: 80% !important;
        text-align: center !important;
        margin: auto !important;
        /* margin-block: 5px !important; */
    }

    .homeButtons button {
        width: auto !important;
    }
}

/* start unleash */
.unleash {
    padding-block: 102px 198px;
}

.unleash__container {
    padding-block: 72px 88px;
    gap: 44px;
}

.unleash__container {
    background: linear-gradient(87deg, #F5E4D0 17.17%, #F5E4D0 51.3%, rgba(8, 7, 6, 0.00) 126.05%), url(/assets/images/home/unleash.png);
    background-repeat: no-repeat !important;
    background-size: cover;
}

.unleash p:nth-child(1) {
    color: var(--Neutral-900, #090A0A);
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
}

.unleash p:nth-child(2) {
    color: var(--Neutral-900, #090A0A);
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    opacity: 0.8;
    max-width: 50%;
}

.unleash__container div:nth-child(2) {
    display: flex;
    height: 56px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: var(--Primary-04, #003A61);
}

.unleash__container div:nth-child(2) p:nth-child(1) {
    color: var(--Neutral-00, #FFF);
    text-align: center;
    /* Heading/H6-Small/Bold */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 24px */
    letter-spacing: -0.32px;
}

/* start footer */
footer {
    background-color: #061D32;
    padding: 44px;
    gap: 44px;
}

.footer__upper__ezawty {
    width: 341px;
}

.footer__upper__ezawty p:nth-child(1) {
    color: var(--Neutral-00, #FFF);
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 106.25% */
    letter-spacing: -0.64px;
}

.footer__upper__ezawty p:nth-child(2) {
    color: var(--Neutral-00, #FFF);
    /* Paragraph/02/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: .8;
}

.footer__upper__quickLink {
    gap: 24px;
}


.footer__linksTitle {
    color: var(--Neutral-00, #FFF);
    font-family: Inter Display;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 28.5px */
    letter-spacing: -0.38px;
}


.footerLinks a {
    color: var(--Neutral-00, #FFF);
    /* Paragraph/02/Regular */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}

.footerLinks {
    gap: 10px;
}

.footer__upper__download {
    gap: 24px;
}

.footer__upper__download__part2 {
    gap: 10px;
}

.footer__download__box:hover {
    cursor: pointer;
}

.footerCopyRight {
    color: var(--Neutral-00, #FFF);

    /* Paragraph/01/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.footerSocialIcons {
    gap: 12px;
}

.navBarThree .searchBlock {
    width: 100% !important;
}

@media (max-width:1000px) {
    .footer__upper {
        flex-direction: column;
        gap: 60px;
    }
}


/* start logged in menue */
.loggedIn {
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 50%;
    z-index: 1002;
    display: flex;
    width: 239px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background: var(--Neutral-00, #FFF);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.16);
}

.loggedIn__dashboard {
    gap: 12px;
}

.loggedIn__dashboard p {
    flex: 1 0 0;
    color: var(--Neutral-725, #424242);
    /* Paragraph/01/SemiBold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 21px */
    width: 135px;
}

.loggedIn__logOut {
    gap: 12px;
}

.loggedIn__logOut p {
    color: var(--Neutral-725, #424242);

    /* Paragraph/01/SemiBold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 21px */
}

.CeateAccount {
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 50%;
    z-index: 1002;
    display: flex;
    width: 239px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background: var(--Neutral-00, #FFF);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.16);
}

.CeateAccount .loggedIn__logOut p {
    width: 135px;
}

/* favourite List */


.emptyFavouriteList::-webkit-scrollbar {
    display: none;
}
.emptyFavouriteList {
    visibility: hidden;
    background: var(--Primary-05, #FFF);
    padding: 32px 45.5px 32px 45.5px;
    height: 90vh;
    width: 429px;
    position: fixed;
    top: 114px;
    right: 0;
    z-index: 100;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.emptyFavouriteList__upper p {
    color: var(--Primary-01, #060A0E);
    /* Heading/H4-Small/Bold */
    font-family: "Inter";
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 34.5px */
    letter-spacing: -0.46px;
}

.emptyFavouriteList__down {
    margin-top: 285px !important;
    gap: 24px;
}

.emptyFavouriteList__down div:nth-child(1) {
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 22222px;
    background: #F7F7F7;
    width: 80px;
    height: 80px;
}

.emptyFavouriteList__down__text p:nth-child(1) {
    color: var(--Neutral-625, #555656);
    /* Heading/H6/Bold */
    font-family: Inter Display;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 28.5px */
    letter-spacing: -0.38px;
}

.emptyFavouriteList__down__text p:nth-child(2) {
    color: var(--Neutral-550, #6B6C6C);
    /* Paragraph/01/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.emptyFavouriteList__down__button {
    display: flex;
    width: 158px;
    height: 40px;
    padding: 16px 19px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    background: var(--Neutral-100, #E1E3E3);
}

.emptyFavouriteList__down__button p {
    color: var(--Neutral-725, #424242);
    text-align: center;
    /* Paragraph/01/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.emptyFavouriteList__down__button:hover {
    cursor: pointer;
}

.favouriteList::-webkit-scrollbar {
    display: none;
}


.favouriteList {
    visibility: hidden;
    position: fixed;
    top: 114px;
    right: 0;
    height: 90vh;
    z-index: 100;
    background: var(--Primary-05, #FFF);
    padding: 32px 45.5px 32px 45.5px;
    height: 983px;
    width: 429px;
    gap: 32px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.favouriteList__container {
    gap: 20px;
}

.favouriteList__container__card__down {
    gap: 10px;
    padding: 8px;
}

.favouriteList__container__card__down__text p:nth-child(1) {
    color: #000;

    /* Heading/H6/Bold */
    font-family: "Inter";
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 28.5px */
    letter-spacing: -0.38px;
}

.favouriteList__container__card__down__text p:nth-child(2) {
    color: var(--Neutral-725, #424242);

    /* Paragraph/01/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.favouriteList__rating {
    color: var(--Neutral-625, #555656) !important;
    /* Caption/Regular */
    font-family: "Inter";
    font-size: 12px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
}

.favouriteList__bookButton {
    background: var(--Primary-04, #003A61);
    display: flex;
    width: 211px;
    height: 48px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.favouriteList__bookButton p {
    color: var(--Neutral-00, #FFF);
    text-align: center;

    /* Heading/H6-Small/Bold */
    font-family: Inter Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 24px */
    letter-spacing: -0.32px;
}

.favoriteList__cost p:nth-child(1) {
    color: var(--Neutral-725, #424242);

    /* Caption/Regular */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
}

.favoriteList__cost p:nth-child(2) {
    color: var(--Harvest-Gold-275, #CCAB6E);

    /* Paragraph/02/SemiBold */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

/* navbarThree */


.navBarThree {
    transition: 1s;
}

.navbarThree__subMenu {
    display: none;
    padding-block: 5px;
}

.navbarClose {
    display: none;
}

.navBarThree__links .active {
    background-color: #003A65;
}

/* notification submenu */
.notification__subMenu::-webkit-scrollbar {
    display: none;
}


.notification__subMenu {
    gap: 24px;
    visibility: hidden ;
    position: fixed;
    top: 114px;
    right: 0;
    height: 90vh !important;
    z-index: 100;
    background: var(--Primary-05, white);
    padding: 32px 45.5px 32px 45.5px;
    height: 983px;
    width: 429px;
    gap: 32px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.notification__subMenu__buttons div:hover {
    cursor: pointer;
}

.notification__subMenu__buttons div {
    display: flex;
    padding: 3px 10px;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    background-color: rgba(255, 255, 255, 0.501);
    text-align: center;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04), 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
}


.notification__subMenu__buttons div p {
    display: flex;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    overflow: hidden;
    color: var(--Neutral-725, #424242);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Paragraph/01/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.notification__subMenu__buttons div:nth-child(1) {
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    background: var(--Primary-04, #003A61);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04), 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
    color: white;
}

.notification__subMenu__buttons div:nth-child(1) p {
    color: white;
}

.notification__subMenu__upper {
    gap: 16px;
}


.notificationDay {
    color: var(--Greys-07, #888);

    /* Caption/CAP */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 18px */
    letter-spacing: 0.96px;
    text-transform: uppercase;
}

.notificationCard {
    padding: 16px 0px;
    gap: 12px;
}

.notificationCard__image {
    width: 48px;
    height: 48px;
    border-radius: 48px;
}

.notificationCard__image img {
    border-radius: 50%;
}

.notificationCard__details p:nth-child(1) {
    overflow: hidden;
    color: var(--Neutral-900, #090A0A);
    text-overflow: ellipsis;
    /* Heading/H6-Small/Bold */
    font-family: Inter Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 24px */
    letter-spacing: -0.32px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
}

.notificationCard__details p:nth-child(2) {
    color: var(--Greys-06, #6D6D6D);

    /* Caption/Regular */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
}

.notifiaction__subMenu__invitaions {
    display: none;
}